*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-size: 8em;
}

p{
    background-color: rgb(163, 84, 146);
    color: #fff;
}

nav .menu{
    list-style: none;
}

nav .menu li{
    float: left;
}